@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* @import "flowbite"; */

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */

body {
	@apply text-dark-blue;
}

@font-face {
	font-family: "nexa";
	src: url("../public/Nexa-Heavy.ttf");
	/* src: url("../public/Nexa-ExtraLight.ttf"); */
}

.no-radius-tabs {
	border-radius: 0; /* Removes the border radius */
}

/* hover:bg-white/25 font-sub text-sm rounded-md px-4 py-3 */

.btn-modal-source {
	@apply hover:bg-white/25 font-sub text-sm rounded-md px-4 py-3;
}

.btn-modal-live {
	@apply dark:bg-dark-orange dark:hover:bg-orange-hover font-sub text-sm rounded-md px-4 py-3;
}

button {
	@apply font-sub;
}
