@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

/* @import "flowbrte"; */

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */

body {
	@apply text-dark-blue;
}

@font-face {
	font-family: "Nexa";
	src: url("/Nexa-Heavy.ttf");
}

@font-face {
	font-family: "Nexa Light";
	src: url("/Nexa-ExtraLight.ttf");
}

@font-face {
	font-family: "Manrope";
	src: url("/Manrope-Regular.ttf");
}

.no-radius-tabs {
	border-radius: 0; /* Removes the border radius */
}

/* hover:bg-white/25 font-sub text-sm rounded-md px-4 py-3 */

.btn-modal-source {
	@apply hover:bg-white/25 font-sub text-xs md:text-sm rounded-md px-3 py-2 md:px-4 md:py-3;
}

.btn-modal-live {
	@apply dark:bg-dark-orange dark:hover:bg-orange-hover font-sub text-xs md:text-sm rounded-md px-3 py-2 md:px-4 md:py-3;
}

.btn-modalOut-source {
	@apply bg-white/25 hover:bg-white/20 font-sub text-xs rounded-full px-3 py-2;
}

.btn-modalOut-live {
	@apply dark:bg-dark-orange dark:hover:bg-orange-hover font-sub text-xs rounded-full px-3 py-2;
}

.modalOut-body {
	@apply sm:text-xs;
}

.code-highlight {
	@apply bg-orange-200/20 rounded p-0.5 text-orange-400;
}

.text-footer {
	@apply text-[10px] md:text-xs;
}

button,
p,
h5,
header {
	font-family: "Manrope";
}
